* {
    font-family: "Barlow", sans-serif;
  }
  
  body {
    background-image: url("images/pastel.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
  }
  
  /*main section*/
  
  .checkout-background {
    background-color: azure;
    color: black;
    padding: 0px 30px;
    position: relative;
    height: 570px;
    width: 800px;
    border-radius: 20px;
    box-shadow: 5px 20px 50px rgb(131, 111, 165);
  }
  /*title*/
  
  h1 {
    color: rgb(131, 111, 165);
    font-family: "Barlow", sans-serif;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    font-style: italic;
    padding: 20px 0px 10px;
    position: relative;
    left: 3%;
    margin-bottom: 0;
  }
  
  /*payment options*/
  
  .checkout-container {
    padding: 0% 7%;
  }
  
  .row {
    padding: 5px;
  }
  
  .payment-buttons {
    text-align: center;
  }
  
  #credit-column {
    padding: 10px;
  }
  
  #paypal-column {
    padding: 10px;
  }
  
  .payment-border {
    padding: 20% 15% 10%;
  }
  
  .payment-text {
    color: black;
    font-family: "Barlow", sans-serif;
    font-size: clamp(0.9rem, 0.6698rem + 1.0233vw, 2rem);
    white-space: nowrap;
  }
  
  input[type="radio"] {
    /*position of radio button*/
    display: inline-block;
    position: absolute;
    bottom: 70%;
    left: 48%;
  }
  
  input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: white;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid lightgray;
  }
  
  input[type="radio"]:checked:after {
    /*effects after radio is selected*/
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: rgb(131, 111, 165);
    content: "";
    display: inline-block;
    visibility: visible;
    border: 3.5px solid lightgray;
  }
  
  input[type="radio"] + .payment-border {
    border: 3px solid;
    border-color: rgb(116, 116, 116);
    border-radius: 10px;
  }
  
  input[type="radio"]:checked + .payment-border {
    border: 4px solid rgb(131, 111, 165);
    font-weight: bold;
  }
  
  #credit-radio {
    margin-right: 20px;
  }
  
  #paypal-radio {
    margin-right: 20px;
  }
  
  /*Card Info*/
  
  .card-number {
    background-color: azure;
    background-image: url("images/visa.png");
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: contain;
    border-color: lightgray;
    border-radius: 7px;
    color: rgb(131, 111, 165);
    font-family: "Barlow", sans-serif;
    width: 100%;
    padding: 5px;
  }
  
  .card-number-section,
  .card-holder-name-section,
  #expiration-date,
  #cvv {
    padding: 15px;
    left: 7%;
  }
  
  label {
    margin-bottom: 0px;
  }
  
  .card-number-label {
    color: black;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
  }
  
  ::placeholder {
    color: rgb(131, 111, 165);
  }
  
  .card-holder-name,
  .expiration-date,
  .cvv {
    background-color: azure;
    border-color: lightgray;
    border-radius: 7px;
  }
  
  .card-holder-name {
    background-image: url("images/person.png");
    background-position: 99%;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    width: 100%;
    padding: 5px;
  }
  
  .expiration-col,
  .cvv-col {
    padding: 0px;
  }
  
  .expiration-col {
    margin-right: 16.5%;
  }
  
  .expiration-date {
    /*inside the text box*/
    background-image: url("images/calendar.png");
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    margin-right: 1px;
    padding: 5px;
    width: 100%;
  }
  
  .cvv {
    /*inside the text box*/
    background-image: url("images/information.png");
    background-position: 95%;
    background-repeat: no-repeat;
    background-size: 1.3rem;
    padding: 5px;
    width: 100%;
  }
  
  /*Save Payment*/
  
  .save-card {
    position: relative;
    left: 4%;
    padding: 15px;
  }
  
  input[type="checkbox"] {
    accent-color: rgb(180, 154, 224);
  }
  
  /*Purchase Button*/
  
  .btn {
    background-color: rgb(165, 141, 206);
  }
  
  @media (min-width: 100px) and (max-width: 767px) {
    /*format for mobile*/
    body {
      padding: 50% 10%;
    }
  
    .checkout-background {
      height: 475px;
    }
  
    input[type="radio"] {
      /*position of radio button*/
      display: inline-block;
      position: absolute;
      bottom: 63%;
      left: 40%;
    }
    .payment-border {
      padding: 25px 2px 0px;
    }
  
    .payment-text {
      font-size: 0.8rem;
    }
  
    #credit-column {
      padding: 2px;
    }
  
    #paypal-column {
      padding: 2px;
    }
  
    .expiration-col {
      margin: 0;
    }
  
    .card-info-container {
      font-size: 0.8rem;
    }
  
    .card-number-label {
      padding: 10px 5px 0px;
    }
  
    .card-number-row,
    .card-holder-name-row {
      margin-bottom: 8px;
    }
  
    .expiration-col {
      margin-bottom: 17px;
    }
  
    .checkbox-text {
      font-size: 0.8rem;
      margin-top: 5%;
    }

    input[type=checkbox] {
      margin-top: 5%;
    }

  }
  
  @media (min-width: 768px) and (max-width: 1000px) {
    /*format for ipad*/

    .checkout-container {
      padding: 10px;
    }
  
    .card-info-container {
      font-size: 0.9rem;
    }
  
    .card-number-label {
      padding: 10px 5px 0px;
    }
  
    .card-number-row,
    .card-holder-name-row {
      margin-bottom: 8px;
    }
  
    .expiration-col {
      margin-bottom: 17px;
      position: relative;
    }
  
    .expiration-date {
      width: 112%;
    }
  
    .cvv-col {
      position: relative;
      right: 5%;
    }
  
    .cvv {
      width: 112%;
    }

    .checkbox-text {
      font-size: 1rem;
      margin-top: 8%;
      white-space: nowrap;
    }
  
    input[type=checkbox] {
      margin-top: 8%;
      
    }
  }
  
  @media (min-width: 1040px) {
    .expiration-col {
      margin-bottom: 17px;
      position: relative;
    }
  
    .expiration-date {
      width: 112%;
    }
  
    .cvv-col {
      position: relative;
      right: 5%;
    }
  
    .cvv {
      width: 112%;
    }
  }
